Django
markdown
Pillow
django-markdownx
beautifulsoup4
django-ckeditor
django-allauth
django-crispy-forms
crispy-bootstrap5
django-hitcount
django-taggit
django-mathjax
django-embed-video
django-pure-pagination
django-cors-headers
python-dotenv
whitenoise
gunicorn
psycopg2-binary
django-debug-toolbar
bleach
tinycss2